%h2
  Was wir dir bieten

%ul
  %li
    Viele Gestaltungsmöglichkeiten und Entscheidungsspielraum. Du kannst deine Arbeit selbst strukturieren, unsere Prozesse maßgeblich mitgestalten und deine eigenen Ideen mit einbringen.
  %li
    Die Möglichkeit, in der Zukunft ein eigenes Team aufzubauen und zu führen.
  %li
    Einen hervorragenden Überblick über die aktuellen Trends der IT-Branche. Du kommst mit Hunderten von interessanter Firmen und Freelancern in Kontakt und lernst eine Menge neue Technologien kennen!
  %li
    Ein nettes kleines, zentral gelegenes bezogenes Büro in Berlin-Friedrichshain (Warschauer Str.) mit einer ruhige und störungsfreien Arbeitsatmosphäre.
  %li
    Die Möglichkeit, nach einer Einarbeitungsphase regelmäßig oder komplett im Homeoffice zu arbeiten.
  %li
    Flexible und familienfreundliche Arbeitszeiten für die richtige Work-Life-Balance.
