%h2
  Was wir dir bieten

%ul
  %li
    Viele Gestaltungsmöglichkeiten und Entscheidungsspielraum. Du kannst deine Arbeit selbst strukturieren, unsere Prozesse maßgeblich mitgestalten und deine eigenen Ideen mit einbringen.
  %li
    Ein kleines aber sehr motiviertes, professionelles und hilfsbereites Team.
  %li
    Eine direkte Beteiligung am Erfolg deiner Vertriebstätigkeiten in Form einer Provision.
  %li
    Kontakt zu Hunderten von interessanter Firmen, Tech-Entrepreneuren und Freelancern und Aufbau von lebenslangen Beziehungen.
  %li
    Ein zentral gelegenes Büro in Berlin-Friedrichshain mit einer ruhige und störungsfreien Arbeitsatmosphäre.
  %li
    Die Möglichkeit, nach einer Einarbeitungsphase regelmäßig oder komplett im Homeoffice zu arbeiten.
  %li
    Frisches Obst, Müsli, Snacks, Kaffee, Tee und diverse andere Getränke.
  %li
    Flexible und familienfreundliche Arbeitszeiten für die richtige Work-Life-Balance.
