footer {
  text-align: center;
  padding: 20px 0;
  background-color: $gray-lightest;

  a {
    color: $gray;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $gray-light;
    }
  }

  .social {
    margin-bottom: 40px;

    a + a {
      margin-left: 20px;
    }

    img {
      display: inline-block;
    }
  }

  .menu {
    font-size: $font-size-small;
  }
}
