footer {
  padding: 70px 0 50px;
  background-color: $gray-lighter;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }

  .internal {

    @media (min-width: $screen-sm-min) {
      text-align: left;
    }

    a {
      display: block;
      font-size: $font-size-small;
      color: $gray;
      margin-bottom: 5px;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: $gray-light;
      }

      &.brand {
        font-family: "NowBold";
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }

  .social {
    text-align: center;

    a + a {
      margin-left: 20px;
    }

    img {
      display: inline-block;
      width: 40px;
    }
  }

  .badges {

    @media (min-width: $screen-sm-min) {
      text-align: right;
    }

    img {
      display: inline-block;

      + img {
        margin-top: 40px;
      }
    }
  }
}
