@font-face {
  font-family: "NowBlack";
  src: font-url("Now-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NowBold";
  src: font-url("Now-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NowLight";
  src: font-url("Now-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NowMedium";
  src: font-url("Now-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NowRegular";
  src: font-url("Now-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NowThin";
  src: font-url("Now-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
