---
id: job-account-manager
layout: jobs
classes:
  - job
---

%h2
  Deine Aufgaben

%ul
  %li
    Du bist verantwortlich für die Kommunikation mit unseren bestehenden und neuen Kunden. Du besprichst mit ihnen bei Projektanfragen die technischen Anforderungen an die Kandidaten und die Rahmenbedingungen der Zusammenarbeit.
  %li
    Du veröffentlichst neue Jobs in unserer Community mit Hilfe von Slack und unserer eigens entwickelten Software und beantwortest Nachfragen von interessierten Kandidaten.
  %li
    Wenn du passende Kandidaten für einen Job identifiziert hast, stellst du sie beim Kunden vor und begleitest den folgenden Hiring-Prozess.
  %li
    Du erstellst und pflegst die Freelancerprofile in unserer Datenbank.
  %li
    Klassische Vertriebstätigkeiten (z.B. Kaltakquise) gehören NICHT zu deinen Aufgaben.

%h2
  Dein Profil

%ul
  %li
    Du hast ein Studium oder eine Berufsausbildung im Bereich Informatik, Digitales, Kommunikation oder Personal erfolgreich abgeschlossen.
  %li
    Du hast Grundkenntnisse im IT-Bereich (Programmiersprachen, Frameworks, Technologien) oder großes Interesse, dir diese anzueignen. Selbst programmieren zu können ist nicht nötig, aber ein Überblick über die aktuelle IT-Landschaft und Kenntnisse darüber, welche Technologien es gibt und wie sie zusammenhängen, werden dir helfen, dich mit den Firmen und Freelancern auf Augenhöhe zu unterhalten.
  %li
    Du hast optimalerweise bereits Erfahrung im Bereich Account-Management, Projektmanagement, Kommunikation oder als Assistenz der Geschäftsführung sammeln können.
  %li
    Du hast Lust, beim Aufbau eines jungen und innovativen Unternehmens mitzuarbeiten.
  %li
    Du arbeitest eigenverantwortlich, selbstständig und strukturiert.
  %li
    Du sprichst exzellentes Deutsch und gutes Englisch.
