---
id: job-sales-manager
layout: jobs
classes:
  - job
---

%h2
  Deine Aufgaben

%ul
  %li
    Du bist zuständig für die Neukundenakquise und trittst mit Unternehmen in Kontakt, die interessant für Uplink sind.
  %li
    Du besuchst branchenspezifische Events und machst Uplink dort publik. (optional)
  %li
    Du entwickelst eigene Ideen, die uns helfen, Uplink noch bekannter zu machen.
  %li
    Du pflegst unsere Kundendatenbank und bist in engem Austausch mit unserem Account Management

%h2
  Dein Profil

%ul
  %li
    Du hast bereits Erfahrung in der Kundenkommunikation, mit Akquisetätigkeiten oder im Bereich Marketing.
  %li
    Du hast ein gutes technisches Verständnis.
  %li
    Du hast eine aufgeschlossene, freundliche Art und weißt, mit welchem Kunden du wie sprechen musst.
  %li
    Du hast Lust, beim Aufbau eines jungen und innovativen Unternehmens mitzuarbeiten.
  %li
    Du arbeitest eigenverantwortlich, selbstständig und strukturiert.
  %li
    Du sprichst exzellentes Deutsch und gutes Englisch.
