---
id: terms
---

- content_for :header do
  %h1
    = page_title

%section
  .container
    %h2
      § 1 - Anwendungsbereich
    %p
      (1) Die folgenden Allgemeinen Geschäftsbedingungen regeln die rechtlichen Beziehungen zwischen der kraut computing UG, vertreten durch Manuel Meurer, Schreiberhauer Straße 9, 10317 Berlin -
      %strong
        im Folgenden "Uplink" genannt
      \- und dem zu vermittelnden freiberuflich tätigenden IT-Entwickler -
      %strong
        im Folgenden "Freelancer" genannt
      \-, bzw. dem einen geeigneten IT-Dienstleister suchenden Unternehmen, - im Folgenden "Kunde" genannt.

    %h2
      § 2 - Vertragsgegenstand
    %p
      (1) Uplink bietet eine Schnittstelle zwischen Freelancern und Kunden und bringt diese projektbezogen und bedarfsgerecht zusammen.
    %p
      (2) Der Kunde geht gegenüber Uplink keine kostenpflichtige Vertragsbindung ein. Jedes Unternehmen, das einen Entwickler für ein bestimmtes Projekt sucht, hat die Möglichkeit, ein Anfrageformular auf der Website von Uplink auszufüllen und dabei nähere Angaben zum Projekt zu machen. Uplink meldet sich sodann schnellstmöglich beim Kunden mit passenden Vorschlägen für geeignete Projektpartner zurück.
    %p
      (3) Freelancer haben die Möglichkeit, Mitglied im Netzwerk von Uplink zu werden und dabei Angaben zu Ihrem Leistungsspektrum und eventuellen Spezialisierungen zu machen. Sobald eine Kundenanfrage bei Uplink eingeht, werden geeignete Freelancer von Uplink kontaktiert und Interesse und freie Kapazitäten abgefragt. Bei Einigkeit wird der Kontakt zum Kunden hergestellt.
    %p
      (4) Sollten mehrere Freelancer zu einem angefragten Projekt passen, hat der Kunde das Recht, sich für einen Vertragspartner zu entscheiden. Der Freelancer hat kein Recht auf eine bestimmte Zuteilungsquote. Uplink übernimmt insofern keine Garantien.
    %p
      (5) Die weiteren Details im Vertragsverhältnis zwischen Kunde und Freelancer unterliegen diesen beiden Vertragspartnern. Uplink ist hierfür weder direkt noch indirekt verantwortlich.

    %h2
      § 3 - Vertragsschluss
    %p
      (1) Zwischen dem Freelancer und Uplink kommt ein Nutzervertrag zustande, sobald der Freelancer seine Mitgliedschaft im Netzwerk von Uplink beantragt und Uplink ihm dies bestätigt hat.
    %p
      (2) Zwischen Uplink und dem Kunden kommt kein direktes Vertragsverhältnis zustande. Der Kunde kann stets eine unverbindliche Vermittlungsanfrage stellen.
    %p
      (3) Erst bei der erfolgreichen Vermittlung eines Freelancers an einen anfragenden Kunden entsteht für den Freelancer eine Vergütungspflicht im Sinne der Zahlung eines Maklerhonorars.

    %h2
      § 4 - Kündigung
    %p
      (1) Der Freelancer kann seinen Nutzungsvertrag mit Uplink jederzeit kündigen und um seine Löschung aus der Vermittlungskartei bitten. Diese erfolgt sodann sofort und ohne Bindung an eine bestimmte Kündigungsfrist.
    %p
      (2) Alle zum Zeitpunkt der Kündigung noch abzuwickelnden und von Uplink vermittelten Kundenaufträge werden ungeachtet der Kündigung zu den im jeweiligen Einzelvertrag ausgehandelten Konditionen zu Ende abgewickelt.

    %h2
      § 5 - Vergütung und Zahlungsbedingungen
    %p
      (1) Kunden gegenüber sind die Dienstleistungen von Uplink kostenfrei.
    %p
      (2) Eine Kostentragungspflicht beim Freelancer besteht erst nach erfolgreichem Zustandekommen eines Vertrages zwischen ihm und dem Projektkunden. Der Freelancer ist dazu verpflichtet, Uplink binnen einer Frist von 10 Tagen nach dem Vertragsschluss über diesen zu informieren, indem er Uplink eine Kopie des schriftlichen Vertragstextes einreicht. Sofern der Vertrag auf anderem Wege (beispielsweise mündlich oder in Textform per E-Mail) zustande gekommen ist, weist der Freelancer die vereinbarten Konditionen Uplink gegenüber in anderer geeigneter Weise, beispielsweise durch Weiterleitung von E-Mails, nach.
    %p
      (3) Auf Basis dieses Vertragstextes rechnet Uplink seine Vergütung wie folgt ab: Der Freelancer zahlt 10 % seines Auftragshonorars an Uplink. Die Berechnung erfolgt auf Nettobasis zzgl. der jeweils gültigen gesetzlichen Mehrwertsteuer. Beim Zustandekommen von Verträgen, die eine feste Laufzeit von mehreren Monaten umfassen, besteht die Vergütungspflicht innerhalb der ersten sechs Monate der Vertragslaufzeit für jede Teilabrechnung, die innerhalb dieses Zeitraumes erfolgt. Nach sechs Monaten erfolgt keine Honorarbeteiligung für Uplink mehr.
    %p
      (4) Uplink erstellt eine Rechnung, die dem Freelancer regelmäßig per E-Mail zugestellt wird. Uplink behält es sich vor, im Einzelfall auf den postalischen Rechnungsversand umzustellen.
    %p
      (5) Uplink akzeptiert Zahlungen per Überweisung.
    %p
      (6) Die Vergütung für Uplink bleibt auch dann bestehen, falls es zu einer vorzeitigen Beendigung der Zusammenarbeit zwischen dem Freelancer und dem Kunden kommen sollte.

    %h2
      § 6 - Haftung und Schadensersatz
    %p
      (1) Schadensersatzansprüche des Kunden oder Freelancers sind ausgeschlossen, soweit sich aus den nachfolgenden Gründen nicht etwas anderes ergibt. Dies gilt auch für den Vertreter und Erfüllungsgehilfen des Anbieters, falls der Kunde oder Freelancer gegen diese Ansprüche auf Schadensersatz erhebt.
    %p
      (2) Hiervon ausgenommen sind Schadensersatzansprüche des Kunden oder Freelancers wegen der Verletzung des Lebens, des Körpers, der Gesundheit oder wesentlicher Vertragspflichten, welche zur Erreichung des Vertragszwecks notwendigerweise erfüllt werden müssen.
    %p
      (4) Ebenso gilt dies nicht für Schadensersatzansprüche nach grob fahrlässiger oder vorsätzlicher Pflichtverletzung durch Uplink oder seines gesetzlichen Vertreters oder Erfüllungsgehilfen.
    %p
      (5) Uplink haftet nicht für die im Innenverhältnis zwischen Kunde und Freelancer vereinbarten und erbrachten Leistungen.
    %p
      (6) Uplink übernimmt keine Garantien für die Anzahl der vertraglichen Zuteilungen von Kundenkontakten für den Freelancern, Zusagen hinsichtlich von Mindestumsätzen oder ähnliche Garantien. Das Inkassorisiko gegenüber dem Kunden trifft den Freelancer.
    %p
      (7) Uplink haftet gegenüber dem Kunden nicht auf Korrektheit und Vollständigkeit der von dem über ihn vermittelten Freelancer gemachten Angaben zu seinen Qualifikationen, seiner zeitlichen Verfügbarkeit und der von ihm angesetzten Honorarsätze.

    %h2
      § 7 - Sprache, anwendbares Recht, Gerichtsstand
    %p
      (1) Der Vertrag kommt in Deutsch zustande. Auch die weitere Durchführung des Vertrages erfolgt in deutscher Sprache.
    %p
      (2) Es findet ausschließlich das Recht der Bundesrepublik Deutschland Anwendung.
    %p
      (3) Gerichtsstreit ist bei Streitigkeiten mit Kunden, die keine juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen sind, der Geschäftssitz von Uplink.

    %h2
      § 8 - Salvatorische Klausel
    %p
      Die Unwirksamkeit einer Bestimmung dieser AGB hat keine Auswirkungen auf die Wirksamkeit der sonstigen Bestimmungen. Für den Fall, dass einzelne Regelungen unwirksam sind oder später werden sollten, tritt an ihre Stelle die entsprechende gesetzliche Bestimmung.
    %p
      Stand: Februar 2018
