---
id: imprint
---

- content_for :header do
  %h1
    = page_title

%section
  .container
    %p
      Uplink is a service by:
    %p
      kraut computing UG (haftungsbeschränkt)
      %br
      Warschauer Str. 59a
      %br
      10243 Berlin
    %p
      Contact us at
      == #{mail_to 'hello@uplink.tech', nil}.
    %p
      Phone: +49 (0)30 57708249
      %br
      Managing director: Manuel Meurer
      %br
      Court of Registration: Amtsgericht Berlin Charlottenburg
      %br
      Register number: HRB 126596 B
      %br
      VAT ID: DE271325493
      %br
      Responsible for the content in accordance with § 55 Abs. 2 RStV: Manuel Meurer, address see above

%section.gray-bg
  .container
    %h2
      Links to or from third-party websites
    %p
      This website includes links to third-party websites that may be of interest to you. kraut computing is not responsible for the accuracy or reliability of information provided on third-party websites and links to third-party websites should not be taken as an endorsement of those websites by kraut computing. Similarly, links to our website from third-party websites should not be taken as an endorsement by kraut computing of the content or the owners of those websites.
