---
id: imprint
---

- content_for :header do
  %h1
    = page_title

%section
  .container
    %p
      Uplink is a service by:
    %table.table.table-striped
      %tr
        %th
          Company
        %td
          kraut computing UG (haftungsbeschränkt)
          %br
          Warschauer Str. 59a
          %br
          10243 Berlin
      %tr
        %th
          Email
        %td
          info@krautcomputing.com
      %tr
        %th
          Phone
        %td
          +49 (0)30 57708249
      %tr
        %th
          Managing director
        %td
          Manuel Meurer
      %tr
        %th
          Court of Registration
        %td
          Amtsgericht Berlin Charlottenburg
      %tr
        %th
          Register number
        %td
          HRB 126596 B
      %tr
        %th
          VAT ID
        %td
          DE271325493
    %p
      Responsible for the content in accordance with § 55 Abs. 2 RStV:
      %br
      Manuel Meurer, address see above

%section.gray-bg
  .container
    %h2
      Links to or from third-party websites
    %p
      This website includes links to third-party websites that may be of interest to you. kraut computing is not responsible for the accuracy or reliability of information provided on third-party websites and links to third-party websites should not be taken as an endorsement of those websites by kraut computing. Similarly, links to our website from third-party websites should not be taken as an endorsement by kraut computing of the content or the owners of those websites.
