---
layout: false
---

!!!

%html

  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title
      Admin
    = javascript_include_tag 'https://identity.netlify.com/v1/netlify-identity-widget.js'

  %body
    = javascript_include_tag 'https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js'
