body#freelancers {
  @include header_bg_image("freelancers.jpg");

  &[data-locale="de"] {

    header {

      h1 {
        max-width: 620px;
      }

      p {
        max-width: 660px;
      }
    }
  }

  &[data-locale="en"] {

    header {

      h1, p {
        max-width: 545px;
      }
    }
  }

  main {

    h3 {
      color: $dusty-orange;
    }

    section {

      &#benefits {
        background-color: $dusty-orange;
        color: white;

        h3 {
          color: white;
        }
      }

      &#testimonial {
        @include link_color_with_dark_hover($dusty-orange);
      }

      &#pricing {

        #pricing-badge {
          text-align: center;
          border-radius: 5px;
          border: 2px solid $dusty-orange;
          margin: 0 auto 40px;
          max-width: 300px;

          .percentage {
            padding: 20px 0 10px;
            line-height: 1;
            color: $dusty-orange;
            font-size: 90px;
          }

          .max {
            padding: 5px 0;
            color: white;
            background-color: $dusty-orange;
          }
        }
      }

      &#apply {
        @include white_bg_textarea;
      }
    }
  }
}
