body#home {
  text-align: center;

  h2,
  h3,
  p,
  form,
  .alert {
    margin-left: auto;
    margin-right: auto;
  }

  h2,
  h3,
  p {
    max-width: 650px;
  }

  header {

    h1 {
      max-width: 700px;
      margin: 0 auto 20px;
      line-height: 1.3;
    }

    p {
      font-size: 1.4em;
      margin: 70px auto 0;
    }
  }

  form {
    margin-top: 30px;

    input,
    textarea {
      text-align: center;
    }
  }

  header {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .column {

    img {
      margin: 20px auto 30px;
    }

    h3, p {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      text-align: justify;
    }

    &.small-icon {

      img {
        padding: 10px 0;
      }
    }
  }
}
