body#home {
  @include header_bg_image("home.jpg");

  header {

    h1 {
      max-width: 700px;
    }


    p {
      max-width: 700px;
    }
  }

  main {

    section {

      &#benefits {

        a.btn {
          margin-top: 40px;
        }
      }

      &#freelancer-benefits {
        background: image-url("dotted-lines.png") no-repeat top center;

        h3 {
          color: $dusty-orange;
        }
      }

      &#company-benefits {

        h3 {
          color: $turquoise-blue;
        }
      }

      &#freelancer-testimonial {
        @include link_color_with_dark_hover($dusty-orange);
      }

      &#company-testimonial {
        @include link_color_with_dark_hover($turquoise-blue);
      }

      &#articles {

        .article {
          overflow: hidden;
          border: 1px solid $gray-lighter;
          border-radius: 10px;
          padding-bottom: 20px;

          .header-image {
            background-position: center;
            background-size: cover;
            height: 200px;
          }

          h3,
          p {
            text-align: left;
            padding-left: 20px;
            padding-right: 20px;
          }

          h3 {
            margin-top: 20px;
          }

          p {
            margin-bottom: 30px;
          }
        }
      }

      &#cta {

        h2 {
          max-width: none;
        }

        a.btn {

          &:first-of-type {

            @media (max-width: $screen-xs-max) {
              margin-bottom: 20px;

              &:after {
                content: "\a";
                white-space: pre;
              }
            }

            @media (min-width: $screen-sm-min) {
              margin-right: 40px;
            }
          }
        }
      }
    }
  }
}
