body#home {
  @include header_bg_image("home.jpg", $opacity: 0.5);

  header {

    h1, p {
      max-width: 700px;
    }
  }

  main {

    section {

      &#freelancer-benefits {
        background: image-url("dotted-lines.png") no-repeat top center;

        h3 {
          color: $dusty-orange;
        }

        .btn-link {
          color: $dusty-orange;

          &:active,
          &:active:hover,
          &:active:focus,
          &:focus,
          &:hover {
            color: darken($dusty-orange, 10%);
          }
        }
      }

      &#company-benefits {

        h3 {
          color: $turquoise-blue;
        }

        .btn-link {
          color: $turquoise-blue;

          &:active,
          &:active:hover,
          &:active:focus,
          &:focus,
          &:hover {
            color: darken($turquoise-blue, 10%);
          }
        }
      }

      &#freelancer-testimonial {
        @include link_color_with_dark_hover($dusty-orange);
      }

      &#company-testimonial {
        @include link_color_with_dark_hover($turquoise-blue);
      }

      &#blog {

        .row + .row {
          margin-top: 40px;
        }

        .post {
          display: block;
          overflow: hidden;
          border: 1px solid $gray-lighter;
          background-color: white;
          border-radius: 10px;
          padding-bottom: 20px;
          color: inherit;

          &:hover, &:focus {
            text-decoration: none;
          }

          .header-image {
            background-position: center;
            background-size: cover;
            height: 200px;
          }

          h3,
          p,
          .date {
            text-align: left;
            padding-left: 20px;
            padding-right: 20px;
          }

          h3 {
            margin-top: 20px;
            margin-bottom: 5px;
          }

          .date {
            font-size: 0.8em;
            color: $gray-light;
            margin-bottom: 15px;
            letter-spacing: 1px;
          }

          p {
            margin-bottom: 30px;
          }
        }

        a.btn-link {
          margin-top: 60px;
        }
      }

      &#featured-on {

        .logos {

          .row + .row {
            margin-top: 40px;
          }

          a {

            @media (max-width: $screen-xs-max) {

              img {
                margin: 0 auto;
              }

              + a img {
                margin-top: 40px;
              }
            }

            @media (min-width: $screen-sm-min) {

              img {
                display: inline-block;
                vertical-align: middle;
              }

              + a img {
                margin-left: 90px;
              }
            }
          }
        }
      }

      &#partners {

        .list {

          img {
            margin-bottom: 10px;

            @media (min-width: 400px + $grid-gutter-width) and (max-width: $screen-xs-max) {
              display: inline-block;
              max-width: 400px;
            }

            @media (min-width: $screen-sm-min) {
              max-width: 300px;
            }
          }

          a {
            display: block;
            margin-bottom: 15px;
          }

          p {
            max-width: none;
          }

          #fuehrer_orgel,
          #christa_weidner {

            img {
              border-radius: 5px;
            }
          }

          #debitoor {

            img {

              @media (min-width: $screen-sm-min) {
                margin-bottom: 20px;
              }
            }
          }

          #kontist {

            img {

              @media (min-width: $screen-sm-min) {
                margin-bottom: 31px;
              }
            }
          }

          #lexoffice {

            img {

              @media (min-width: $screen-sm-min) {
                margin: 44px 0 34px
              }
            }
          }
        }
      }

      &#cta {

        h2 {
          max-width: none;
        }
      }
    }
  }
}
