body#home {
  @include header_bg_image("home.jpg");

  @media (max-width: $screen-xs-max) {
    @include header_bg_image("home.jpg", $horizontal_position: 100%);
  }

  @media (max-width: 350px) {
    @include header_bg_image("home.jpg", $horizontal_position: 90%);
  }

  header {

    h1 {
      max-width: 700px;
    }

    p {
      max-width: 700px;
    }
  }

  main {

    section {

      &#freelancer-benefits {
        background: image-url("dotted-lines.png") no-repeat top center;

        h3 {
          color: $dusty-orange;
        }

        .btn-link {
          color: $dusty-orange;

          &:active,
          &:active:hover,
          &:active:focus,
          &:focus,
          &:hover {
            color: darken($dusty-orange, 10%);
          }
        }
      }

      &#company-benefits {

        h3 {
          color: $turquoise-blue;
        }

        .btn-link {
          color: $turquoise-blue;

          &:active,
          &:active:hover,
          &:active:focus,
          &:focus,
          &:hover {
            color: darken($turquoise-blue, 10%);
          }
        }
      }

      &#freelancer-testimonial {
        @include link_color_with_dark_hover($dusty-orange);
      }

      &#company-testimonial {
        @include link_color_with_dark_hover($turquoise-blue);
      }

      &#articles {

        .article {
          overflow: hidden;
          border: 1px solid $gray-lighter;
          border-radius: 10px;
          padding-bottom: 20px;

          .header-image {
            background-position: center;
            background-size: cover;
            height: 200px;
          }

          h3,
          p {
            text-align: left;
            padding-left: 20px;
            padding-right: 20px;
          }

          h3 {
            margin-top: 20px;
          }

          p {
            margin-bottom: 30px;
          }
        }
      }

      &#featured-on {

        .logos {

          a {

            @media (max-width: $screen-xs-max) {

              img {
                margin: 0 auto;
              }

              + a img {
                margin-top: 40px;
              }
            }

            @media (min-width: $screen-sm-min) {

              img {
                display: inline-block;
                vertical-align: middle;
              }

              + a img {
                margin-left: 60px;
              }
            }
          }
        }
      }

      &#cta {

        h2 {
          max-width: none;
        }
      }
    }
  }
}
