body#job-account-manager {
  @include header_bg_image("job-account-manager.jpg", $vertical_position: 30%);

  main {
    text-align: left;

    .meta {

      .svg-inline--fa {
        margin-left: 20px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    .freelancer-count {
      margin: 0 5px;
      border-bottom: 1px dotted black;
    }

    .apply {
      margin: 40px 0 20px;
    }
  }
}
