body#jobs {
  @include header_bg_image("jobs.jpg", $vertical_position: 10%);

  main {

    ul {
      padding: 0;
      margin: 40px auto;

      li {
        list-style-type: none;

        a {
          font-size: 22px;
        }

        + li {
          margin-top: 40px;
        }
      }
    }
  }
}
