body.job {
  @include header_bg_image("jobs.jpg", $vertical_position: 10%);

  main {
    text-align: left;

    .job-meta {
      margin-bottom: 40px;

      .svg-inline--fa {
        margin-left: 20px;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    .freelancer-count {
      margin: 0 5px;
      border-bottom: 1px dotted black;
    }

    .apply {
      margin: 40px 0 20px;
    }
  }
}
