body#media-coverage {
  @include header_bg_image("media-coverage.jpg");

  .row {

    + .row {
      margin-top: 80px;
    }

    .item {
      @include link_color_with_dark_hover($turquoise-blue);

      img {
        margin: 0 auto 20px;
      }

      p {
        font-family: "GothamRnd-LightIta";
        font-size: 1.2em;
        line-height: 1.6;
      }

      a {

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
