= navbar static: :top do
  = navbar_header brand: 'Uplink'
  -#= navbar_collapse do
  -#  = navbar_group align: 'right' do
  -#    = navbar_item 'Join', '#join'
  -#    = navbar_item 'Details', '#details'
  -#    = navbar_item 'For companies', '#companies'
  -#    = navbar_item 'Contact', '#contact'
