---
id: imprint
---

%section#info
  .container
    %p
      Uplink ist ein Service der:
    %p
      kraut computing UG (haftungsbeschränkt)
      %br
      Postadresse: Ehrenbergstr. 16a, Scanbox 279, 10245 Berlin, Germany
      %br
      Sitz der Gesellschaft: Pfarrstr. 128, 10317 Berlin, Germany
      %br
      Webseite: https://www.krautcomputing.com
      %br
      Email: info@krautcomputing.com
      %br
      Telefon: +49 (0)30 57708249
      %br
      Vertretungsberechtiger Geschäftsführer: Manuel Meurer
      %br
      Registergericht: Amtsgericht Charlottenburg (Berlin)
      %br
      Registernummer: HRB 126596 B
      %br
      Umsatzsteuer-Identifikationsnummer: DE271325493
    %p
      Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Manuel Meurer, Anschrift s.o.

%section#links
  .container
    %h2
      Haftung für Links
    %p
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
