---
id: imprint
---

%header
  .container
    %h1
      Imprint


%section
  .container
    %p
      Uplink is a service by:
    %p
      kraut computing UG (haftungsbeschränkt)
      %br
      Mailing address: Ehrenbergstr. 16a, Scanbox 279, 10245 Berlin, Germany
      %br
      Business address: Pfarrstr. 128, 10317 Berlin, Germany
      %br
      Website: https://www.krautcomputing.com
      %br
      Email: info@krautcomputing.com
      %br
      Phone: +49 (0)30 57708249
      %br
      Managing director: Manuel Meurer
      %br
      Court of Registration: Amtsgericht Berlin Charlottenburg
      %br
      Register number: HRB 126596 B
      %br
      VAT ID: DE271325493
    %p
      Responsible for the content in accordance with § 55 Abs. 2 RStV: Manuel Meurer, address see above

%section
  .container
    %h2
      Links to or from third-party websites
    %p
      This website includes links to third-party websites that may be of interest to you. kraut computing is not responsible for the accuracy or reliability of information provided on third-party websites and links to third-party websites should not be taken as an endorsement of those websites by kraut computing. Similarly, links to our website from third-party websites should not be taken as an endorsement by kraut computing of the content or the owners of those websites.
