---
id: home
changefreq: always
priority: 1.0
---

%header
  .container
    %h1
      Connecting top freelance developers with great companies in Berlin
    %p.lead
      Your next gig is right around the corner!

%section#section-intro.section-gray
  .container
    %p.lead
      Uplink helps Berlin's best freelance developers to find local companies and challenging projects. We are connected to the city's most enchanting startups, agencies and media companies and can find the perfect next project for you!

%section
  .container
    .row
      .col-sm-4.column
        = image_with_lazy_load image_path('icons/find.svg')
        %h3
          We find them all
        %p
          We are in touch with over 100 startups, agencies and media companies in Berlin,
          %strong
            and many of them are regularly looking for freelance developers.
          Is there an industry or kind of company you're most interested in? Let us know and we'll find them for you!
      .col-sm-4.column
        = image_with_lazy_load image_path('icons/calculator.svg')
        %h3
          Know your worth
        %p
          We make sure one of the most delicate issues is taken care of from the beginning and
          %strong
            only contact you for gigs that pay what you are asking.
          Tell us your price range (and if you're willing to make exceptions) and we'll find clients that value your time and expertise.
      .col-sm-4.column.small-icon
        = image_with_lazy_load image_path('icons/digital-clock.svg')
        %h3
          Timing is everything
        %p
          You're currently on a project but need something fresh a few months from now? No problem, tell us now and we'll keep our ears to the ground.
          %strong
            The earlier we know when you're available, the more interesting gigs we can find for you!

%section.section-gray
  .container
    %h2
      FAQ
    .row
      .col-sm-6.column
        %h3
          How much does it cost?
        %p
          %strong
            Our services are completely free for developers.
          We only take a small success fee from companies when they find a developer with our help.
        %h3
          Which companies can I get in touch with?
        %p
          %strong
            We are connected to 100+ companies in here Berlin,
          from big and well-established media companies to small and innovative startups, and we are constantly on the lookout for more.
          %strong
            The one thing all of them have in common is that they offer great opportunies for our freelance developers!
          If however our members tell us about problems with one specific company, we will try to mediate and not recommend the company any longer if the problems cannot be resolved.
      .col-sm-6.column
        %h3
          How can I join?
        %p
          %strong
            Currently you need to be invited by another Uplink member to join.
          We chose this approach to make sure the Uplink community grows organically and as many members as possible have some kind of connection to each other.
        %h3
          Will Uplink pay my bills?
        %p
          No, we only make the initial connection between you and a company, and help you with questions like what contract you should (or should not) sign or how high you should set your rate. The contract itself and payments will happen between you and the company directly.
