---
id: media-coverage
title: Media Coverage
---

- content_for :header do
  %h1
    = current_page.data.title

%section
  .container
    = link_to 'https://drive.google.com/file/d/0B4gIb1U545pcZzRwT3FqemhRYVU/view', rel: 'nofollow', target: '_blank', class: 'item' do
      = image_tag 'media-coverage/berlin-valley.png'
      Issue October/November 2016
