---
id: press-kit
title: Press Kit
---

- content_for :header do
  %h1
    = current_page.data.title
  %p
    If you'd like to have more information or media resources than those currently included in the press kit, please contact us!

%section
  .container
    %iframe{ src: "https://drive.google.com/embeddedfolderview?id=#{config[:press_kit_google_drive_folder_id]}#grid" }
    = link_to 'Open Google Drive folder', "https://drive.google.com/drive/folders/#{config[:press_kit_google_drive_folder_id]}", class: 'btn lg btn-primary', rel: 'nofollow', target: '_blank'
